@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
$title_color:rgb(4, 35, 65);
$form_first:rgb(8, 78, 122);
$bg_nav:rgb(7, 74, 136);
body {
    background: rgb(12 12 13);
    color: white;
    scroll-behavior: smooth;
}
