@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
$title_color : rgb(8, 68, 105);
$form_first:rgb(8, 78, 122);
$bg_nav:rgb(7, 74, 136);
body {
    background: rgb(12 12 13);
    font-family: 'Inconsolata', monospace;
    color: white;
    scroll-behavior: smooth;
}
